@import "resets";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

.header {
  background-color: grey;
  padding: 30px;
  position: relative;
  color: white;
  height: 20vh;
  background-image: url(https://images.pexels.com/photos/7234213/pexels-photo-7234213.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;

  .text {
    margin-top: 30px;
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    justify-content: space-between;

    h1 {
      width: 80%;
      font-size: 27px;
    }
    a {
      text-decoration: none;
      color: white;
    }
    h4 {
      text-align: center;
      margin-bottom: 5px;
      border: 1px solid white;
      padding: 5px;
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.7);
    }

    i {
      font-size: 20px;
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.7);
      border: 1px solid white;
      padding: 5px;
    }
  }

  .search {
    position: absolute;
    left: 25px;
    bottom: -19px;

    #search {
      border: 0;
      padding: 10px;
      border-radius: 5px 0px 0px 5px;
      width: 250px;
      background: #2e2e2f;
      color: #a5a5a5;
      cursor: pointer;
      outline: 0;
      padding-left: 35px;
    }

    .fa-solid {
      position: absolute;
      left: 10px;
      bottom: 10px;
      color: #a5a5a5;
    }

    #search-btn {
      margin-left: -4px;
      border: 0;
      border-radius: 0px 5px 5px 0px;
      background: #4b4b4b;
      color: white;
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
.main {
  background: #121212;
  min-height: 100vh;
  padding: 25px;
  padding-top: 50px;
  color: #a5a5a5;

  .explore {
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2e2e2f;
    font-family: "Inter", sans-serif;

    i {
      font-size: 60px;
      color: #2e2e2f;
    }
  }

  .empty {
    width: 90%;
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #787878;
    font-family: "Inter", sans-serif;
    text-align: center;

    .add {
      margin-top: 15px;
    }
    a {
      text-decoration: none;
      color: white;
      font-size: 20px;
    }

    i {
      font-size: 20px;
      color: #2e2e2f;
      color: white;
    }
  }

  .empty.active {
    display: none;
  }

  .explore.active {
    display: none;
  }

  .not-found {
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: #787878;
    font-family: "Inter", sans-serif;
    text-align: center;
    display: none;
  }

  .not-found.active {
    display: block;
  }

  .movies {
    .movie {
      color: white;
      border-bottom: 1px solid lightgray;
      width: 100%;
      display: flex;
      margin-bottom: 30px;

      .details {
        margin-left: 15px;
        padding: 0 10px;
        flex: 1;

        .movie-details {
          display: flex;
          align-items: center;
          gap: 5px;
          cursor: pointer;

          button {
            background: 0;
            color: white;
            border: 0;
            cursor: pointer;
          }

          &:hover,
          &:hover button {
            opacity: 0.8;
          }
        }
        .remove {
          padding: 10px 0;
          display: inline-block;
          cursor: pointer;

          button {
            background: 0;
            color: white;
            border: 0;
            cursor: pointer;
          }

          &:hover,
          &:hover button {
            color: rgb(243, 95, 95);
          }
        }
      }

      .movie__title-rating {
        display: flex;
        margin-bottom: 10px;

        h4 {
          margin-right: 5px;
        }
      }
      .rating {
        display: flex;

        i {
          color: gold;
          margin-right: 5px;
        }
      }

      @mixin buttons {
        background: none;
        border: 0;
        color: gold;
        cursor: pointer;
      }

      .less {
        display: none;
        @include buttons;
      }
      .read {
        display: none;
        @include buttons;
      }
      .movie-details {
        display: flex;
        padding: 10px 0;

        p {
          margin-right: 10px;
        }
        a {
          text-decoration: none;
          color: white;
          i {
            margin-right: 3px;
          }
        }
      }

      .paragraph {
        display: block;
        overflow: hidden;
      }

      .paragraph.active {
        height: auto;
      }

      .paragraph.limitHeight {
        height: 90px;
      }

      .paragraph.demo {
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }

    .image {
      flex: 0.6;
      height: 220px;

      img {
        width: 100%;
        height: 80%;
        border-radius: 5px;
      }
    }
  }

  .movie:last-child {
    border: 0;
  }
}

@media screen and (min-width: 1440px) {
  body {
    overflow-x: hidden;
  }
  .header {
    display: flex;
    justify-content: center;
    .text {
      justify-content: space-around;
      width: 59%;
    }
    .search {
      left: 30px;
      width: 100vw;

      .form {
        transform: translateX(20.3%);
      }
      #search {
        width: 50%;
      }
    }
  }

  .main {
    .movies {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 20px 50px;
      gap: 30px;

      .movie {
        width: 90%;
        border: 0;
      }

      div:nth-child(odd) {
        justify-self: flex-end;
      }

      .image {
        flex: 0.3;

        img {
          object-fit: contain;
        }
      }
    }

    .empty {
      position: absolute;
      bottom: 40%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #787878;
      font-family: "Inter", sans-serif;
      text-align: center;

      .add {
        margin-top: 15px;
      }
      a {
        text-decoration: none;
        color: white;
        font-size: 20px;
      }

      i {
        font-size: 20px;
        color: #2e2e2f;
        color: white;
      }
    }

    .empty.active {
      display: none;
    }
  }
}

@media screen and (min-width: 1600px) {
  .header {
    display: flex;
    justify-content: center;
    .text {
      justify-content: space-around;
      width: 59%;
    }
    .search {
      left: 30px;
      width: 100vw;

      .form {
        transform: translateX(21.3%);
      }
      #search {
        width: 50.5%;
      }
    }
  }
}
